/*-------------- 
Google fonts
------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/*--------------- 
css variables
--------- */

:root {
    --bg-color: #2D25A0;
    --text-color: #FFFFFF;
    --black: #18191F;
    --btn-color: #E02C6D;
}

/*--------------
utilities styles
--------- */


body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    ;
    margin: 0;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------------
 top-banner styles
 --------- */


.top-banner {
    background-color: var(--bg-color);
    height: 677px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-banner:hover .top-banner-item{
    transform: scale(1.15);
    transition: 2s ease-out;
}

.top-banner-item {
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-column-gap: 102px;
     justify-content: center;
}
.top-banner-title {
    color: var(--text-color);
    font-size: 60px;
    font-weight: bold;
    width: 485px;
    height: 230px;
    left: 156px;
    line-height: 80px;
}
.top-banner-image img {
    height: 456px;
    width: 556px;
}
.top-banner-details #btn-link {
    color: var(--text-color);
    background-color: var(--btn-color);
    text-decoration: none;
    width: 168px;
    height: 44px;
    left: 156px;
    padding: 10px 20px;  
    border-radius: 5px;
}
.fa-arrow-right {
    margin-left: 8px;
}

/*-------------- 
blogs styles
-------- */

.blogs {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.blog {
width: 330px;
height: 474px;
display: flex;
flex-direction: column;
padding: 15px;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.blog h3 {
    margin-top: 16px;
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 40px;
}
.blog p {
    margin-top: 0;
    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
}

/*---------------- 
Highlights styles
----------- */

.highlight {
    margin-top: 170px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;

}
.highlight-text {
    width: 80%;
}
.highlight-text h2 {
    font-size: 40px;
}
.highlight-text p {
    font-size: 18px;
    color: #6C6C6C;
    margin-bottom: 50px;
}
video {
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#btn-link-2 {
    color: var(--text-color);
    background-color: #635555;
    text-decoration: none;
    padding: 10px 20px;  
    border-radius: 5px;
}

/*-----------------
    FAQ styles
-------------- */

.faq {
    margin-top: 170px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 10px;

}
.faq-details {
    width: 570px;
}
.faq-title p {
    color: #6C6C6C;
}
.faq-ques {
    font-size: 16px;
}
.faq-answers {
    color: #6C6C6C;
}
.answers {
    color: royalblue;
}


/*----------------- 
footer styles
---------- */


footer {
    text-align: center;
}
.footer {
    position: absolute;
    width: 884px;
    height: 213px;
    margin-top: 158px;
    padding-bottom: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left: 475px;
}
.footer img {
    width: 484px;
    height: 110px;
}
.footer a {
    text-decoration: none;
    color: black;
    opacity: 0.3;
    font-size: 32px;
    margin-right: 14px;
}
.copyright {
    font-size: 18px;
}


/* ----------------------- 
        ------------
        Media Queries
        ------------
-------------------------- */


/*--------------
 Mobile devices
 --------------- */
 
 @media only screen and (max-width: 688px) {
    /* container  */
    .container {
         width: 100%;
     }
     /* top banner  */
    .top-banner {
        width: 100%;
        height: 695px;
    }
    .top-banner-item {
        display: flex;
        flex-direction: column;
        grid-row-gap: 50px;
        justify-content: center;
    }
    .top-banner-title {
        font-size: 36px;
        width: 278px;
        height: 148px;
        line-height: 50px;
    }
    .top-banner-details #btn-link {
        left: 19px;
        top:280px;
    }
    .top-banner-image img {
        height: 260px;
        width: 329px;
    }

    /* blogs  */
    .blogs {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    /* highlights */
    .highlight {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        grid-row-gap: 60px;
        justify-content: center;
        align-items: center;
    }
    video {
        width: 400px;
    }
    
    /* FAQ */
    .faq {
        width: 80%;
    }

    .faq-details {
        width: 100%;
    }

    /* footer */
    .footer {
        position:static;
        width: 100%;
        margin-top: 43px;
        justify-content: center;
        align-items: center;
        padding-bottom: 187px;
    }
    .footer img {
        position: static;
        width: 271px;
        height: 63px;
        margin-bottom: 29px;
    }
    .copyright {
        margin-top: 20px;
    }
  }

/*-----------------
 For tab devices
 ---------------- */
 
 @media only screen and (max-width: 992px) and  (min-width: 690px) {

   /* container  */
     .container {
        width: 180%;
    }
    /* top banner  */
    .top-banner {
        width: 100%;
        height: 995px;
    }
    .top-banner-item {
        display: flex;
        flex-direction: column;
        grid-row-gap: 100px;
        justify-content: center;
    }
    .top-banner-title {
        font-size: 66px;
        width: 500px;
        height: 250px;
        line-height: 100px;
    }
    .top-banner-details #btn-link {
        left: 19px;
        top:400px;
    }
    .top-banner-image img {
        height: 460px;
        width: 529px;
    }
     /* blogs  */
     .blogs {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
     /* highlights */
     .highlight {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        grid-row-gap: 60px;
        justify-content: center;
        align-items: center;
    }
    video {
        width: 800px;
    }
       /* footer */
       .footer {
        width: 180%;
        position: static;
        margin-top: 60px;
        justify-content: center;
        align-items: center;
    }
    .footer img {
        position: static;
        width: 371px;
        height: 93px;
        margin-bottom: 50px;
    }
    .copyright {
        margin-top: 20px;
    }
    
}
